<!-- Loading / Error -->
<div *ngIf="loading" class="loading">Loading fund...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<!-- Fund Details -->
<div *ngIf="!loading && fund" class="fund-detail-container">

  <!-- Back Button -->
  <button class="back-btn" (click)="goBack()">Back</button>


  <!-- Fund Name -->
  <h2 class="fund-name">{{ fund.name }}</h2>

  <!-- Fund Description -->
  <div class="fund-description">
    <p>{{ fund.description }}</p>
  </div>

  <!-- Basic Fund Info -->
<table class="fund-info">
  <tbody>
    <tr>
      <th>Fund Size</th>
      <td>{{ fund.fundSize }}</td>
    </tr>
    <tr>
      <th>Currency</th>
      <td>{{ fund.currency }}</td>
    </tr>
    <tr>
      <th>Vintage</th>
      <td>{{ fund.vintage }}</td>
    </tr>
    <tr>
      <th>Geographies</th>
      <td>{{ fund.geographies.join(', ') }}</td>
    </tr>
  </tbody>
</table>

  <!-- Strategies -->
  <div class="fund-section">
    <h4>Strategies</h4>
    <ul class="list">
      <li *ngFor="let strategy of fund.strategies">{{ strategy }}</li>
    </ul>
  </div>

  <!-- Managers -->
  <div class="fund-section">
    <h4>Managers</h4>
    <ul class="list">
      <li *ngFor="let manager of fund.managers">{{ manager }}</li>
    </ul>
  </div>

</div>