<!-- src/app/pages/fund-detail/fund-detail.component.html -->

<!-- Loading / Error -->
<div *ngIf="loading" style="font-style: italic;">Loading fund...</div>
<div *ngIf="error" style="color: red;">{{ error }}</div>

<!-- Fund Details -->
<div *ngIf="!loading && fund">
  <h2>{{ fund.name }}</h2>
  <p>{{ fund.description }}</p>

  <!-- Basic Fund Info -->
  <table style="margin-top: 1rem; border-collapse: collapse;">
    <tr>
      <th style="text-align: left; padding-right: 1rem;">Fund Size</th>
      <td>{{ fund.fundSize }}</td>
    </tr>
    <tr>
      <th style="text-align: left; padding-right: 1rem;">Currency</th>
      <td>{{ fund.currency }}</td>
    </tr>
    <tr>
      <th style="text-align: left; padding-right: 1rem;">Vintage</th>
      <td>{{ fund.vintage }}</td>
    </tr>
    <tr>
      <th style="text-align: left; padding-right: 1rem;">Geographies</th>
      <td>{{ fund.geographies.join(', ') }}</td>
    </tr>
  </table>

  <!-- Strategies -->
  <div style="margin-top: 1rem;">
    <h4>Strategies</h4>
    <ul>
      <li *ngFor="let strategy of fund.strategies">{{ strategy }}</li>
    </ul>
  </div>

  <!-- Managers -->
  <div style="margin-top: 1rem;">
    <h4>Managers</h4>
    <ul>
      <li *ngFor="let manager of fund.managers">{{ manager }}</li>
    </ul>
  </div>
</div>