

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 12rem;
    box-sizing: border-box;
    flex-direction: column;
}


@media (max-width: 950px) {
  main {
    padding: 1rem;
    align-items: stretch;
    justify-content: flex-start;
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  table {
    min-width: 900px;
  }
}